@font-face {
  src: url(/fonts/nssans-regular.woff2);
  font-family: "NS-font-regular";
}

@font-face {
  src: url(/fonts/nssans-bold.woff2);
  font-family: "NS-font-bold";
}

@font-face {
  src: url(/fonts/nssans-italic.woff2);
  font-family: "NS-font-italic";
}
@font-face {
  src: url(/fonts/nssans-bolditalic.woff2);
  font-family: "NS-font-bolditalic";
}

:root {
  /* colors:-------------------------------------- */
  --NS-yellow: #ffc917;
  --NS-blue-and-links: #0063d3;
  --NS-text-color: #003082;
  --NS-color-hover: #e0ecff;

  --BG-fieldset-wit: #ffffff;
  --BG-page-gray: #e6e6e9;
  --border-gray: #d3d3d3;

  --text-gray: #808080;
  --text-color: #000000;

  --valid-bordrer: #008000;
  --valid-fill: #e6ffe6;

  --invalid-bordrer: #c90000;
  --invalid-fill: #ffe6e6;
  /* values:-------------------------------------- */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0em;
  padding: 0em;
  font-family: "NS-font-regular";
  line-height: 1.5em;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 40vh;
  background-color: var(--NS-yellow);
}

body {
  background-color: var(--BG-page-gray);
}

h1 {
  margin: 1.5em;
  font-size: 2.2em;
  font-family: "NS-font-regular";
  color: var(--NS-text-color);
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 1em;
  background-color: red;
  font-family: "NS-font-bold";
  color: white;
}

form {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin: -15em 0em 5em 1em;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--BG-fieldset-wit);
  border: none;
  border-radius: 1em;
}

legend {
  box-sizing: border-box;
  width: 100%;
  margin: 1em 0em 1em 0em;
  background-color: var(--BG-fieldset-wit);
  font-family: "NS-font-regular";
  color: #003082;
}

/* dit zijn de white boxes */
form > div {
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
  width: 80vw;
  background-color: var(--BG-fieldset-wit);
  border-radius: 1em;
}

form > div > fieldset {
  padding: 0em 2em 2em 2em;
  gap: 2em;
}

/* de > sellecteert alleen de eerste kinderen van de parent, dus in dit geval de eerste legend van elk fieldset. */
form > div > fieldset > legend {
  padding: 1.3em 0em 0.5em 0em;
  font-size: 1.3em;
  font-family: "NS-font-regular";
  color: var(--NS-text-color);
}

/* Text input styling:--------------------------------------  */
div:has(.text-input) {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.text-input {
  position: relative;
  padding: 0em 0em;
}

.text-input label {
  align-self: center;
  position: absolute;
  left: 0.7em;
  transform: translateY(0%);
  color: var(--text-gray);
}

.text-input input {
  width: 100%;
  padding: 0.7em 1em;
  border: solid var(--border-gray) 1px;
  border-radius: 0.5em;
  font-size: 1em;
}

.text-input label:hover {
  cursor: text;
}

/* HIER HEB IKK DE BLAUWE OUTLINE VERWIJDERD WANNEER DIE FOCUS HEEFT.-------- */

input:focus {
  outline: none;
  border: solid var(--NS-text-color) 1px;
}

/* DIT IS DE STATE NA DE ANIMIE VAN DE INPUT---------------------------------------------- */
/* (Bron: met braham gefixed) */

.text-input:has(input:focus) label,
.text-input:has(input:not(:placeholder-shown)) label {
  left: 0.5em;
  transform: translateY(-130%);
  padding: 0em 0.5em;
  transition: all 0.2s ease-in-out;
  background-color: var(--BG-fieldset-wit);
  font-size: 0.8em;
  color: var(--NS-text-color);
}

/* textinput validation styling---------------------------------------------- */

.text-input input:user-valid {
  outline: 1px solid var(--valid-bordrer);
  border: var(--BG-fieldset-wit) solid 1px;
  background-color: var(--valid-fill);
  color: var(--text-color);
  transition: 0.2s ease-in-out;
}

.text-input:has(input:user-valid) label {
  color: var(--valid-bordrer);
  background: linear-gradient(
    0deg,
    var(--valid-fill) 50%,
    var(--BG-fieldset-wit) 50%
  );
  transition: 0.2s ease-in-out;
}

.text-input:has(input:user-valid):has(input:placeholder-shown) label {
  color: var(--text-color);
  background: var(--valid-fill);
}

.text-input input:user-invalid {
  outline: 1px solid var(--invalid-bordrer);
  border: var(--BG-fieldset-wit) solid 1px;
  /* background-color: var(--invalid-fill); */
  color: var(--text-color);
  transition: 0.2s ease-in-out;
}

.text-input:has(input:user-invalid) label {
  color: var(--invalid-bordrer);
  /* background: linear-gradient(
    0deg,
    var(--invalid-fill) 50%,
    var(--BG-fieldset-wit) 50%
  ); */
  transition: 0.2s ease-in-out;
}
.text-input:has(input:user-invalid):has(input:placeholder-shown) label {
  color: var(--text-gray);
  background: var(--BG-fieldset-wit);
}

/* submit button */
button[type="submit"] {
  align-self: end;
  width: 5em;
  padding: 0.5em;
  background-color: var(--NS-blue-and-links);
  border: none;
  border-radius: 0.5em;
  font-family: "NS-font-regular";
  color: white;
  font-size: 1em;
}

/* vragen 1b--------------------------------------------------------- */

/* fieldset:has(.radio-button) {
  display: flex;
  gap: 0.5em;
} */

.radio-button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  border: var(--border-gray) solid 1px;
  border-radius: 0.5em;
}

.radio-button:hover {
  cursor: pointer;
}

.radio-button label {
  width: 100%;
  height: 100%;
  padding: 1em;
  border-radius: 0.5em;
}

.radio-button label:hover {
  background-color: var(--NS-color-hover);
  cursor: pointer;
}

.radio-button input {
  appearance: none;
}

.radio-button input:active {
  appearance: none;
}

.radio-button input:focus {
  appearance: none;
  border: none;
}

.radio-button input:focus-visible {
  aspect-ratio: 1;
  height: 0.5em;
  margin: 0 0em 0 1em;
  background-color: #0063d3;
  border-radius: 1em;
  align-self: center;
}

.radio-button input:hover {
  cursor: pointer;
}

/* de animatie en border wanneer een antwoord aangevinkt is -------------------------------------------------*/

.radio-button:has([type="radio"]:checked) {
  outline: var(--NS-text-color) 2px solid;
  border: var(--BG-fieldset-wit) solid 1px;
  transition: 0.1s ease-in;
}

/* Styling datepicker ------------------------------------ */

input[type="date"] {
  width: 100%;
  padding: 0.7em 1em;
  background-color: var(--BG-fieldset-wit);
  border: var(--border-gray) solid 1px;
  border-radius: 0.5em;
  font-family: "NS-font-regular";
  color: var(--text-gray);
  font-size: 1em;
}

input[type="date"]:focus {
  outline: none;
  border: solid var(--NS-text-color) 1px;
}

/* bron: https://share.google/aimode/1EfjSHMuQwGtVmxWw */
input[type="date"]:user-valid {
  border: 1px solid var(--valid-bordrer);
  background-color: var(--valid-fill);
  color: var(--text-color);
}

.datepicker {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.datepicker label {
  font-family: "NS-font-regular";
  color: var(--NS-text-color);
}

/* Progressive disclosure:-------------------------------------- */
/* (bron: vasilis)------ */

.ProgDisclosure + fieldset {
  display: none;
}

.ProgDisclosure:has([value="ja"]:checked) + fieldset {
  display: flex;
}

/* Progressive disclosure van de gehele witte vlakken:-------------------------------------- */

.ProgDisclosureBig + div {
  display: none;
}

.ProgDisclosureBig:has([fieldset]:valid) + fieldset {
  display: flex;
}
