:root {
  /* colors:-------------------------------------- */

  /* values:-------------------------------------- */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  margin: 0em;
  padding: 0em;
}

form {
  margin: 1em;
}

fieldset {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: em;
}

legend {
  padding: 1em;
}

/* Text input styling:--------------------------------------  */

.text-input {
  position: relative;
  padding: 1em 0em;
  width: auto;
}

.text-input label {
  position: absolute;
  align-self: center;
  left: 0.7em;
  color: gray;
  transform: translateY(0%);
}

.text-input input {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: solid black 2px;
  width: 20em;
  font-size: 1em;
}

.text-input label:hover {
  cursor: text;
}

input:focus {
  outline: none;
}

.text-input input:focus + label,
.text-input input:not(:placeholder-shown) + label {
  box-sizing: border-box;

  left: 0.5em;
  transform: translateY(-100%);

  padding: 0em 0.5em;

  color: black;
  background-color: white;

  font-size: 0.8em;
  transition: all 0.2s ease-in-out;
}

/* van af hier moet opruimen.----------------------------------------------------------------- */

/* 
form {
  margin: 1em;
  position: relative;
  display: flex;
  align-items: flex-start;
}

fieldset {
  height: auto;
  width: 100vw;

  position: relative;
}

fieldset label {
  position: absolute;
  left: 0.4em;
  top: 10%;

  transform: translateY(-50%);

  color: grey;

  transition: all 0.3s ease-in-out;
}

fieldset input:focus + label,
fieldset input:not(:placeholder-shown) + label {
  left: 0px;
  top: 0;
  padding: 0em 0em;
  color: black;
  background-color: white;
  font-size: 0.8em;
}

input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

input {
  appearance: none;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0em;
  padding: 0.5em 0.5em;
}

fieldset {
  position: relative;
  height: 20vh;
} */

/* Styling text input ---------------------------------------- */
/* 
.text-input {
  position: absolute;
  margin: 2em;
  z-index: 111;
}

fieldset .text-input input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  appearance: none;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0em;

  padding: 0.5em 0.5em;
  display: block;
  height: inherit;
  background-color: transparent;
}

.text-input:focus + .text-input input,
.text-input:not(:placeholder-shown) + .text-input input {
  transform: translateY(+50%);

  padding: 0em 0em;
  color: black;
  font-size: 0.8em;
}

.text-input input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid blue;
  transition: all 0.3s ease-in-out;
} */
